@using dojoSurveyWithValidation.Models
@model Survey
<body>
    <h1>Show Page</h1>
    <h3>Info Submitted:</h3>
    <p>Full Name: @Model.Name</p>
    <p>Dojo Location: @Model.Dojo_location</<p>
    <p>Favorite Language: @Model.Favorite_language</p>
    <p>Comments: @Model.Comments </p>

</body>

</html>